<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
        <h2>Listado de Empresas</h2>
        <ul>
            {% for empresa in empresas %}
                <li>{{ empresa.nombre_empresa }}</li>
            {% endfor %}
        </ul>
        
        <h3>Agregar Nueva Empresa</h3>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form action="/api/addcompany" method="post">
            <div class="form-group">
                <label for="nombre_empresa">Nombre de la Empresa:</label>
                <input type="text" id="nombre_empresa" name="nombre_empresa" required>
            </div>   
            <input type="submit" value="Agregar Empresa">
        </form>
        
    {% endblock %}
    
</body>
</html>
