<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
        <h2>Listado de Conceptos</h2>
        <ul>
            {% for concepto in conceptos %}
                <li>{{ concepto.nombre_concepto }}</li>
            {% endfor %}
        </ul>
        
        <h3>Agregar Nuevo Concepto</h3>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form action="/api/addconcept" method="post">
            <div class="form-group">
                <label for="nombre_concepto">Nombre del Concepto:</label>
                <input type="text" id="nombre_concepto" name="nombre_concepto" required>
            </div>
            <input type="submit" value="Agregar Concepto">
        </form>
    {% endblock %}
    
</body>
</html>
