<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="{{ url_for('static', filename='js/inversor_T_F.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h2 class="text-2xl font-medium text-black text-center">Contratos</h2>
        <div class="styled-table-container">
            <table id="tabla" class="display dataTable styled-table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Inversor</th>
                        <th>Empresa</th>
                        <th>Proyecto</th>
                        <th>Moneda</th>
                        <th>Tipo de Inversor</th>
                        <th>Tasa Anual</th>
                        <th>CAC</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contrato in opciones_contrato %}
                        <tr>
                            <td>{{ contrato.nombre_contrato }}</td>
                            <td>{{ contrato.inversor_prestamista_deudor.nombre_inversor_prestamista_deudor }}</td>
                            <td>{{ contrato.empresa.nombre_empresa }}</td>
                            <td>{{ contrato.proyecto.nombre_proyecto }}</td>
                            <td>{{ contrato.moneda.descr_moneda }}</td>
                            <td>{{ contrato.inversor_prestamista_deudor.inversor_o_prestamista_o_deudor }}</td>
                            <td>{{ contrato.tasa_anual }}</td>
                            <td>{{ contrato.aplica_CAC_T_F }}</td>
                            <td>{{ contrato.monto_contrato }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <h2 class="text-2xl font-medium text-black text-center">Nuevo contrato</h2>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        {% if mensaje_alerta %}
            <div class="error-message">{{ mensaje_alerta }}</div>
        {% endif %}
        <form action="/api/addcontract" method="post">
            <div class="form-group">
                <label for="nombre_contrato">Nombre del Contrato:</label>
                <input type="text" id="nombre_contrato" name="nombre_contrato" required>
            </div>

            <div class="form-group">
                <label for="nombre_inversor_prestamista_deudor">Inversor:</label>
                <select id="id_inversor_prestamista_deudor" name="id_inversor_prestamista_deudor" required>
                    {% for inversor_prestamista_deudor in opciones_inversor_prestamista_deudor %}
                        <option value="{{ inversor_prestamista_deudor.id_inversor_prestamista_deudor }}">{{ inversor_prestamista_deudor.nombre_inversor_prestamista_deudor }}</option>
                    {% endfor %}
                </select>
            </div>  

            <div class="form-group">
                <label for="nombre_empresa">Empresa:</label>
                <select id="id_empresa" name="id_empresa" required>
                    {% for empresa in opciones_empresa %}
                        <option value="{{ empresa.id_empresa }}">{{ empresa.nombre_empresa }}</option>
                    {% endfor %}
                </select>
            </div>  

            <div class="form-group">
                <label for="nombre_proyecto">Proyecto:</label>
                <select id="id_proyecto" name="id_proyecto" required>
                    {% for proyecto in opciones_proyecto %}
                        <option value="{{ proyecto.id_proyecto }}">{{ proyecto.nombre_proyecto }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="descr_moneda">Moneda:</label>
                <select id="id_moneda" name="id_moneda" required>
                    {% for moneda in opciones_moneda %}
                        <option value="{{ moneda.id_moneda }}">{{ moneda.descr_moneda }}</option>
                    {% endfor %}
                </select>
            </div>  

            <div class="form-group">
                <label for="inversor_o_prestamista_o_deudor">Tipo:</label>
                <select id="inversor_o_prestamista_o_deudor" name="inversor_o_prestamista_o_deudor" onchange="toggleTasaField()">
                    <option value="Deudor">Deudor</option>
                    <option value="Prestamista">Prestamista</option>
                    <option value="Inversor">Inversor</option>
                </select>
            </div>

            <div class="form-group">
                <label for="tasa_anual">Tasa Anual:</label>
                <input type="number" id="tasa_anual" name="tasa_anual" step="0.01" min="0" max="1.00" required><br>
            </div>

            <div class="form-group">
                <label for="act_cac">¿Actualiza por CAC?:</label>
                <input type="checkbox" id="act_cac" name="act_cac" >
            </div>

            <div class="form-group">
                <label for="monto_contrato">Monto Contrato:</label>
                <input type="text" id="monto_contrato" name="monto_contrato"  required pattern="\d+(\.\d{1,2})?" oninput="updateValueTo()"><br>
            </div>
            
            <button type="submit" value="Agregar Moneda" class="w-full text-white bg-gradient-to-r from-[#5D6D7E] via-[#424949] to-[#5D6D7E] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Agregar contrato</button>
        </form>

        <script src="{{ url_for('static', filename='js/datatable.js') }}"></script>
    {% endblock %}
    
    

</body>
</html>
