<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}

        <h2>Listado de Monedas</h2>
        <ul>
            {% for moneda in monedas %}
                <li>{{ moneda.descr_moneda }}</li>
            {% endfor %}
        </ul>
        
        <h3>Agregar Nueva Moneda</h3>
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form action="/api/addcoin" method="post">
            <div class="form-group">
                <label for="descr_moneda">Descripción Moneda:</label>
                <input type="text" id="descr_moneda" name="descr_moneda" required>
            </div>
            <input type="submit" value="Agregar Moneda">
        </form>
    {% endblock %}
    
</body>
</html>
