<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sistema Contable</title>
</head>

<body>
    {% extends 'base.html' %}

    {% block content %}

    <div class="text-black ">

        <h2 class="text-2xl font-medium text-black text-center">Listado de Empresas</h2>    
        
        <div class="styled-table-container">
          <table id="tabla" class="display dataTable styled-table">
            <thead>
              <tr>
                <th>
                  Empresa
                </th>
              </tr>
            </thead>
            <tbody>
              {% for empresa in opciones_empresa %}
              <tr>
                <td>
                  <div>
                    {{ empresa.nombre_empresa }}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

          <div class="flex flex-col mt-4">
            <div>
              <h3 class="text-lg font-medium text-black">Agregar Nueva Empresa</h3>
          
              {% if error %}
              <div class="error-message">
                <p class="text-red-500 text-sm">{{ error }}</p>
              </div>
              {% endif %}
          
              <form class="flex flex-col" action="/api/addcompany" method="post">
                <div class="form-group flex flex-col mt-4">
                  <label for="nombre_empresa" class="text-sm font-medium text-black">Nombre de la Empresa:</label>
                  <input type="text" id="nombre_empresa" name="nombre_empresa" class="rounded-md border-gray-300 focus:border-indigo-600 focus:ring-indigo-600 w-full p-2" required>
                </div>
                <button type="submit" class="mt-4 w-full text-white bg-gradient-to-r from-[#5D6D7E] via-[#424949] to-[#5D6D7E] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Agregar Empresa</button>
              </form>
            </div>
          </div>
          
        
    
    </div>

    <script src="{{ url_for('static', filename='js/datatable.js') }}"></script>

    {% endblock %}

</body>

</html>