<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='modal.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
    <h2 class="text-2xl font-medium text-black text-center">Listado de conceptos</h2> 
        <div class="styled-table-container">
            <table id="tabla" class="display dataTable styled-table">
                <thead>
                    <tr>
                        <th>Concepto</th>
                    </tr>
                </thead>
                <tbody>
                    {% for concepto in opciones_concepto %}
                        <tr>
                            <td>{{ concepto.nombre_concepto }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <h2 class="text-2xl font-medium text-black text-center">Agregar nuevo concepto</h2> 
        {% if error %}
            <div class="error-message">{{ error }}</div>
        {% endif %}
        <form id="concepto" action="/api/addconcept" method="post">
            <div class="form-group">
                <label for="nombre_concepto">Nombre del Concepto:</label>
                <input type="text" id="nombre_concepto" name="nombre_concepto" required
                    data-label="Concepto">
            </div>
            <button type="submit" data-form-id="concepto" value="Agregar Concepto" class="w-full text-white bg-gradient-to-r from-[#5D6D7E] via-[#424949] to-[#5D6D7E] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Agregar Concepto</button>
        </form>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p>¿Está seguro que desea agregar el siguiente concepto?</p>
                <p id="modal-content"></p>
                <button id="confirmar">Confirmar</button>
                <div id="mensaje-exito" style="display: none;">
                    Se agregó exitosamente.
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/confirm_form.js') }}"></script>
        <script src="{{ url_for('static', filename='js/datatable.js') }}"></script>

    {% endblock %}
    
</body>
</html>