<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Sistema Contable</title>
</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}

    <h2 class="text-2xl font-medium text-black text-center">Tasa -Nuevo</h2>
        
        <form action="/api/addrate" method="post">
            <div class="form-group">
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" value="2024-01-05"><br>
            </div>
            
            <div class="form-group" id="inversorField" style="display: block;">
                <label for="id_inversor">Inversor:</label>
                <select id="id_inversor" name="id_inversor" required>
                    {% for inversor in opciones_inversor %}
                        <option value="{{ inversor.nombre_inversor }}">{{ inversor.nombre_inversor }}</option>
                    {% endfor %}
                </select> 
            </div>  

            <div class="form-group">
                <label for="id_moneda">Moneda:</label>
                <select id="id_moneda" name="id_moneda" required>
                    {% for moneda in opciones_moneda %}
                        <option value="{{ moneda.id_moneda }}">{{ moneda.descr_moneda }}</option>
                    {% endfor %}
                </select><br>
            </div>

            <div class="form-group">
                <label for="act_cac">¿Actualiza por CAC?:</label>
                <input type="checkbox" id="act_cac" name="act_cac" >
            </div>

            <div class="form-group">
                <label for="tasa">Tasa:</label>
                <input type="number" id="tasa" name="tasa" step="0.01" min="0" max="0.12"><br>
            </div>
            <button type="submit" value="Añadir tasa" class="mt-4 w-full text-white bg-gradient-to-r from-[#5D6D7E] via-[#424949] to-[#5D6D7E] font-medium rounded-lg text-sm px-5 py-2.5 text-center">Añadir tasa</button>
            
        </form>

    {% endblock %}
    
</body>
</html>
