<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='modal.css') }}"
    />
    <script src="{{ url_for('static', filename='js/account_concept.js') }}"></script>
    <script src="{{ url_for('static', filename='js/value.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sistema Contable</title>
  </head>

  <body>
    {% extends 'base.html' %} {% block content %}
    <form
      id="movimiento"
      class="text-black"
      action="/api/addmovement"
      method="post"
    >
        <label for="fecha">Fecha:</label>
        <input
          data-label="Fecha"
          class="text-black"
          type="date"
          id="fecha"
          name="fecha"
          min="{{ fecha_minima }}"
          max="{{ fecha_maxima }}"
          value="{{ fecha_actual }}"
        /><br />
        <label for="id_empresa">Empresa:</label>
        <select
          class="text-black"
          id="id_empresa"
          name="id_empresa"
          data-label="Empresa"
          required
        >
          {% for empresa in opciones_empresa %}
          <option value="{{ empresa.id_empresa }}">
            {{ empresa.nombre_empresa }}
          </option>
          {% endfor %}</select
        ><br />

        <label for="tipo_de_cambio">Tipo de cambio:</label>
        <input
          data-label="Tipo de Cambio"
          class="text-black"
          type="number"
          id="tipo_de_cambio"
          name="tipo_de_cambio"
          required
          pattern="\d+\.?\d*"
        /><br />
        <label for="id_moneda_desde">Moneda desde:</label>
        <select
          class="text-black"
          id="id_moneda_desde"
          name="id_moneda_desde"
          data-label="Moneda"
          required
        >
          {% for moneda in opciones_moneda %}
          <option value="{{ moneda.id_moneda }}">
            {{ moneda.descr_moneda }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="id_concepto_desde">Concepto desde:</label>
        <select
          class="text-black"
          id="id_concepto_desde"
          name="id_concepto_desde"
          data-label="Concepto Desde"
          required
        >
          {% for concepto in opciones_concepto %}
          <option
            value="{{ concepto.id_concepto }}"
            data-cuentas="{{ concepto.cuentas }}"
          >
            {{ concepto.nombre_concepto }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="id_cuenta_desde">Cuenta desde:</label>
        <select
          class="text-black"
          id="id_cuenta_desde"
          name="id_cuenta_desde"
          data-label="Cuenta Desde"
          required
        >
          {% for cuenta in opciones_cuenta %}
          <option value="{{ cuenta.id_cuenta }}">
            {{ cuenta.nombre_cuenta }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="id_moneda_hacia">Moneda hacia:</label>
        <select
          class="text-black"
          id="id_moneda_hacia"
          name="id_moneda_hacia"
          data-label="Moneda Hacia"
          required
        >
          {% for moneda in opciones_moneda %}
          <option value="{{ moneda.id_moneda }}">
            {{ moneda.descr_moneda }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="id_concepto_hacia">Concepto hacia:</label>
        <select
          class="text-black"
          id="id_concepto_hacia"
          name="id_concepto_hacia"
          data-label="Concepto Hacia"
          required
        >
          {% for concepto in opciones_concepto %}
          <option
            value="{{ concepto.id_concepto }}"
            data-cuentas="{{ concepto.cuentas }}"
          >
            {{ concepto.nombre_concepto }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="id_cuenta_hacia">Cuenta hacia:</label>
        <select
          class="text-black"
          id="id_cuenta_hacia"
          name="id_cuenta_hacia"
          data-label="Cuenta Hacia"
          required
        >
          {% for cuenta in opciones_cuenta %}
          <option value="{{ cuenta.id_cuenta }}">
            {{ cuenta.nombre_cuenta }}
          </option>
          {% endfor %}</select
        ><br />
        <label for="valor_desde">Valor Desde:</label>
        <input
          data-label="Valor Desde"
          class="text-black"
          type="number"
          id="valor_desde"
          name="valor_desde"
          required
          pattern="\d+(\.\d{1,2})?"
          oninput="updateValueTo()"
        /><br />
        <label for="valor_hacia_calculado">Valor Hacia:</label>
        <input
          data-label="Valor Hacia"
          class="text-black"
          type="number"
          id="valor_hacia_calculado"
          name="valor_hacia_calculado"
          readonly
        /><br />
        <label for="descripcion">Descripción:</label>
        <textarea
          data-label="Descripción"
          id="descripcion"
          name="descripcion"
          rows="4"
          cols="50"
          maxlength="70"
        ></textarea
        ><br />
      <button
        type="submit"
        data-form-id="movimiento"
        value="Añadir movimiento"
        class="mt-4 w-full text-white bg-gradient-to-r from-[#5D6D7E] via-[#424949] to-[#5D6D7E] font-medium rounded-lg text-sm px-5 py-2.5 text-center"
      >
        Añadir Movimiento
      </button>
    </form>

    <div id="modal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p>¿Está seguro que desea realizar el siguiente movimiento?</p>
        <p id="modal-content"></p>
        <button id="confirmar">Confirmar</button>
        <div id="mensaje-exito" style="display: none">
          Se agregó exitosamente.
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/confirm_form.js') }}"></script>

    <script src="{{ url_for('static', filename='js/value.js') }}"></script>

    <script src="{{ url_for('static', filename='js/account_concept.js') }}"></script>

    {% endblock %}
  </body>
</html>
