<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    
    <title>Sistema Contable</title>

</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
        <div class="styled-table-container">            
            <div>
                <table id="tabla-movimientos" class="display dataTable styled-table">
                    <thead>
                        <tr>
                            <th>ID Movimiento</th>
                            <th>Usuario</th>
                            <th>Fecha</th>
                            <th>Empresa</th>
                            <th>Moneda Desde</th>
                            <th>Concepto Desde</th>
                            <th>Cuenta Hacia</th>
                            <th class="align-right">Valor Desde</th>
                            <th>Moneda Hacia</th>
                            <th>Concepto Hacia</th>
                            <th>Cuenta Hacia</th>
                            <th class="align-right">Tipo de Cambio</th>
                            <th class="align-right">Valor Hacia</th>
                            <th>Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimiento in movimientos %}
                            <tr>
                                <td>{{ movimiento.id_movimiento }}</td>
                                <td>{{ movimiento.usuario.nombre_usuario }}</td>
                                <td>{{ movimiento.fecha }}</td>
                                <td>{{ movimiento.empresa.nombre_empresa }}</td>
                                <td>{{ movimiento.moneda_desde.descr_moneda }}</td>
                                <td>{{ movimiento.concepto_desde.nombre_concepto }}</td>
                                <td>{{ movimiento.cuenta_desde.nombre_cuenta }}</td>
                                <td class="align-right" class="number">{{ movimiento.valor_desde | round(2) }}</td>
                                <td>{{ movimiento.moneda_hacia.descr_moneda }}</td>
                                <td>{{ movimiento.concepto_hacia.nombre_concepto }}</td>
                                <td>{{ movimiento.cuenta_hacia.nombre_cuenta }}</td>
                                <td class="align-right" class="number">{{ movimiento.tipo_de_cambio | round(2) }}</td>
                                <td class="align-right" class="number">{{ movimiento.valor_hacia_calculado | round(2) }}</td>
                                <td>{{ movimiento.descripcion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/datatable.js') }}"></script>
    {% endblock %}
</body>
</html>