<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- CSS de DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <!-- CSS de DataTables SearchBuilder -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.0.2/css/searchBuilder.dataTables.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- DataTables SearchBuilder -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/searchbuilder/1.0.2/js/dataTables.searchBuilder.min.js"></script>
    <title>Sistema Contable</title>

</head>
<body>
    {% extends 'base.html' %}
    
    {% block content %}
        <div class="styled-table-container">            
            <div>
                <table id="tabla-movimientos" class="display dataTable styled-table" style="width: 100%; table-layout: fixed;">
                    <thead>
                        <tr style="font-size: 12px;">
                            <th style="width: 1%;">ID</th>
                            <th style="width: 5%;">Usuario</th>
                            <th style="width: 3%;">Fecha</th>
                            <th style="width: 5%;">Empresa</th>
                            <th style="white-space: normal;">Moneda Desde</th>
                            <th style="white-space: normal;">Concepto Desde</th>
                            <th style="white-space: normal;">Cuenta Desde</th>
                            <th style="white-space: normal;">Valor Desde</th>
                            <th style="white-space: normal;">Moneda Hacia</th>
                            <th style="white-space: normal;">Concepto Hacia</th>
                            <th style="white-space: normal;">Cuenta Hacia</th>
                            <th style="width: 4%;">Cambio</th>
                            <th style="white-space: normal;">Valor Hacia</th>
                            <th style="font-size: 11px;" style="white-space: normal; word-break: keep-all;">Descripción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for movimiento in movimientos %}
                            <tr style="font-size: 12px;">
                                <td>{{ movimiento.id_movimiento }}</td>
                                <td>{{ movimiento.usuario.nombre_usuario }}</td>
                                <td>{{ movimiento.fecha.strftime('%d-%m-%Y') }}</td>
                                <td>{{ movimiento.empresa.nombre_empresa }}</td>
                                <td>{{ movimiento.moneda_desde.descr_moneda }}</td>
                                <td style="white-space: normal;">{{ movimiento.concepto_desde.nombre_concepto }}</td>
                                <td style="white-space: normal;">{{ movimiento.cuenta_desde.nombre_cuenta }}</td>
                                <td class="align-right" class="number">{{ movimiento.valor_desde | round(2) }}</td>
                                <td >{{ movimiento.moneda_hacia.descr_moneda }}</td>
                                <td style="white-space: normal;">{{ movimiento.concepto_hacia.nombre_concepto }}</td>
                                <td style="white-space: normal;">{{ movimiento.cuenta_hacia.nombre_cuenta }}</td>
                                <td class="align-right" class="number">{{ movimiento.tipo_de_cambio | round(2) }}</td>
                                <td class="align-right" class="number">{{ movimiento.valor_hacia_calculado | round(2) }}</td>
                                <td style="white-space: normal;">{{ movimiento.descripcion }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/datatable.js') }}"></script>
    {% endblock %}
</body>
</html>